<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Update Course')"></head>
<body class="bg-light">

<div th:replace="fragments/header :: header"></div>

<div class="container mt-5">
    <h2 class="mb-4">Update Course</h2>

    <form th:action="@{/courses/{id}/update(id=${course.id})}" th:object="${course}" method="post">
        <div class="mb-3">
            <label class="form-label">Course Name</label>
            <input type="text" th:field="*{courseName}" class="form-control" D required>
            <div class="text-danger" th:errors="*{courseName}"></div>
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
        <a th:href="@{/courses/}" class="btn btn-secondary">Cancel</a>
    </form>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
